[user]
	name = chanmi-you
	email = chanmi.you@naverlabs.com
[core]
  editor = vim
	excludesfile = /home/chanmi/.gitignore_global
	autocrlf = input
	whitespace = trailing-space,space-before-tab,cr-at-eol
[diff]
    tool = vimdiff
[color]
    ui = auto
    branch = auto
    interactive = auto
    status = auto
[alias]
    st = status
    stat = status
    sb = submodule
    co = checkout
    br = branch
[push]
    default = current
[credential]
    helper = cache --timeout=3600
[credential "https://github.com"]
    username = chanmi
[credential "https://es.naverlabs.com"]
    username = chanmi.you
[credential "https://oss.navercorp.com"]
    username = chanmi.you
[help]
	autocorrect = 1
[http]
	sslverify = false
